.mc-lists.el
.places
abbrev_defs
ac-comphist.dat
/auto-save-list
/backups
/elpa
gnus.el-dribble
helm-doc.org
history
org-clock-save.el
smex-items
tramp
*.elc
*~
/url
/var
\#ido.last\#
%backup%~
ido.last
recentf
recentf~
/semanticdb
/.docsets
.bookmarks.el
/.bbdb
/.org-id-locations
/ac-html-csswatcher/
.yas-compiled-snippets.el
/org-gcal/.org-gcal-token
